<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="main.js"></script>
</body>

</html>