<div class='container u-full-width'>
    <div class='row'>
        <div class='u-full-width'>
            <h4>{{title}}</h4>
            <p>This application allows you to track your birding observations!</p>
            <form action="/observations" method="GET">
            <input type='submit' id='start-button' class='button' value='Start'>
            </form>
        </div>
    </div>
</div>

