<h1>{{title}}</h1>

<div class="content">
		<header class="row">
			<div class="col-9">
			<h1>Welcome to {{title}}</h1>
			</div>
			<a href="index.html" class="col-3" style="display:none"></a>
		</header>

		<section class="start-section">
			<h2>Do you love birds?</h2>
			<p>The bird observation journal is here to help you keep track of the birds that you see!<br>
			Just want to see what birds have been seen around you? Check out the bird hotspots near you!</p>
			<button type="submit" id="start-button">Start</button>
		</section>

		<section>
			<div class='input-form hidden'>
			</div>
		</section>

		<section>
			<div class="observations hidden">
			</div>
		</section>
