<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!-- <form role="form" action= method="POST">
    <label for="bird-search">Enter a bird species below: <br></label>
    <input id="bird-search" type="text" name="bird-search" placeholder="Enter a bird species">
    <input type="submit" value="OK">
</form> -->