<div class='container u-full-width' id='nav-bar'>
    <a href="/">Home</a>
    <a href='/observations/new'>New Observation</a>
    <a href='/species'>Species Search</a>
</div>
<div class="container u-full-width">
	<h1>Species Search</h1>
	<div class="row">
		<form class='species-form'>
			<label for='species-autocomplete'>Search for a bird!</label>
			<input type="text" id='species-autocomplete'></input>
			<br>
			<button class="button species-btn" type='submit'>Search</button> 
		</form>
	</div>
</div>
<div class="container u-full-width">
	<div class="row results">
		
	</div>
</div>
