<div class='container u-full-width' id='nav-bar'>
	<a href="home">Home</a>
	<a href='/observations/new'>New Observation</a>
	<a href='/species'>Species Search</a>
</div>
<div class="container">
    <div class="row">
      <div class='three columns'>Test</div>
      <div class='three columns'>Test</div>
      <div class='three columns'>Test</div>
      <div class='three columns'>Test</div>
      </div>
    </div>
  </div>
  