<div class='container u-full-width' id='nav-bar'>
    <a href="/observations">Home</a>
    <a href='/observations/new'>New Observation</a>
    <a href='/species'>Species Search</a>
</div>
<div class='container u-full-width'>
<form method='post' action='/observations' id='newObservation'>
  <div class='row'>
    <div class='six columns'>
      <h2>Bird</h2>
      <label for='scientificName'>Scientific Name</label>
      <input class='u-full-width' type='text' name='scientific_name' placeholder='Struthio camelus' id='scientificName'>
      <label for='commonName'>Common Name</label>
      <input class='u-full-width' type='text' name='common_name' placeholder='Common Ostrich' id='commonName'>
      <label for='familyName'>Family Name</label>
      <input class='u-full-width' type='text' name='family' placeholder='Struthionidae (Ostriches)' id='familyName'>
    </div>
    <div class='six columns'>
      <h2>Location</h2>
      <label for='autocomplete'>Address</label>
      <input class='u-full-width' id="autocomplete" name='address' placeholder="Enter your address" type="text"></input>
      <h2>Photos</h2>
      <input class='u-full-width' type='file' id='photoUpload' accept='.png, .jpg, .jpeg .pdf' multiple>
    </div>
  </div>
  <label for="details">Observation Notes</label>
  <textarea class="u-full-width" name='details' placeholder="Add relevant details here!" id="details"></textarea>
  <input id='observationSubmit' class="button-primary" type="submit" value="Submit">
</form>
        <a href='/observations'><button class='button' id='returnBtn' type='button'>Go Back</button></a>
</div> 